html{
    scroll-behavior: smooth;
    
}
body{
    font-family: 'Aboreto', cursive;
    margin: 0;
    padding: 0;
}

.zero{
    height: 100vh;
}
.first{
    height: 100vh;
}
.firstpoint5{
    height: 100vh;
}

.second{
    height: 100vh;
}
.secondpoint5{
    height: 100vh;
}
.third{
    height: 100vh;
}
.fourth{
    height: 95vh;
}
.fifth{
    height: 5vh;
}

#usPhoto{
    border-radius: 10px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #flowers{
        width: 100%;
    }
    #usPhoto{
        width: 80%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #usPhoto{
        width: 30%;
    }
    #flowers{
        width: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}