html{
    scroll-behavior: smooth;
    
}
body{
    font-family: 'Aboreto', cursive;
    margin: 0;
    padding: 0;
}

.zero{
    height: 100vh;
}
.first{
    height: 100vh;
}
.firstpoint5{
    height: 100vh;
}

.second{
    height: 100vh;
}
.secondpoint5{
    height: 100vh;
}
.third{
    height: 100vh;
}